<%= form_for @stock, :html => { :class => "form-horizontal stock" } do |f| %>

  <% if @stock.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @stock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :products_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :products_id, @products.collect {|product| [ "N°: #{product.number} | #{product.name}", product.id ] } , :class => 'form-control' %>
    </div>
    <%=f.error_span(:products_id) %>
  </div>
  <div class="form-group">
    <%= f.label :quantity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%=f.error_span(:quantity) %>
  </div>
  <div class="form-group">
    <%= f.label :active, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">

      <%= f.check_box :active %>
    </div>
    <%=f.error_span(:active) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stocks_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
