<%- model_class = Stock -%>
  <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tudo Light  <small><%=t '.title', :default => 'Estoque' %>  </small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-database"></i> Todos os produtos em estoque
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->



<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:Produto) %></th>
      <th><%= model_class.human_attribute_name(:Quantidade) %></th>
      <th><%= model_class.human_attribute_name(:Ativo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><% products = Product.find_by_id(stock.products_id) %> <%= link_to products.name, stock_path(stock) %> </td>
        <td><%= stock.quantity %></td>
        <td><% if stock.active == true %>
           <%= 'Ativo' %>
            <% else %>
            <%= 'Inativo' %>
            <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stock_path(stock), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stock_path(stock),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stock_path,
            :class => 'btn btn-primary' %>
