<% if notice %>
<p id="notice"><%= notice %></p> <% end %>
<h1>Tudo Light - Cardápio</h1>
    <% @products.each do |product| %>
<div class="entry">
<h3>Número: <%= product.number %> </h3>
<b>Nome:</b> <%= product.name %>
<b>Descrição:</b> <%=sanitize product.description %>

<h4>Preço: <b><%= number_to_currency(product.price) %></b></h4>
<br>

<%= button_to 'Incluir Produto no Pedido', line_items_path(:product_id => product),:remote => true, :class => 'btn btn-primary' %>

</div>
<hr>
<% end %>
